[Unit]
Description = UPSmon monitoring script

[Service]
Environment="UPSMON_TTY=ttyACM0 UPSMON_BAUD=9600"
ExecStart = /usr/bin/python3 /opt/upsmon/upsmon.py
Restart=always
RestartSec=5

[Install]
WantedBy = multi-user.target